# IBM Quantum
IBM_QUANTUM_TOKEN=
IBM_QUANTUM_CHANNEL=ibm_quantum_platform
IBM_QUANTUM_INSTANCE=
IBM_BACKEND=

# IQM Quantum Stack
IQM_SERVER_URL=
IQM_QUANTUM_COMPUTER=
IQM_BACKEND=
IQM_TOKEN=
IQM_TOKENS_FILE=

# QuantumFinances backend
QUANTUMFINANCES_BACKEND_URL=http://127.0.0.1:8088
